.about-section {
  padding-bottom: 50px;

  &__image {
    position: relative;
    left: -15px;
    width: calc(100% + 30px);
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__desc {
    color: #242424;
    line-height: 20px;
  }
}

.advantages-section {
  background-color: #f0f0f0;
  padding: 50px 0;

  .col-12 {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__box {
    width: 100%;
    max-width: 255px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }

  &__name {
    color: #3b3b3b;
    font-family: $Helvetica-500;
    font-size: 22px;
    margin-bottom: 10px;
  }

  &__desc {
    text-align: center;
    opacity: 0.5;
    color: #242424;
    line-height: 18px;
  }
}

.about-slider-section {
  padding: 30px 0;

  .slick-list {
    padding-right: 15px;
  }

  .slide {
    position: relative;
    height: 250px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(59, 59, 59, 0.6);
      transition: all 0.5s ease-in-out;
    }

    img {
      object-fit: cover;
    }

    &.slick-current {
      &:before {
        background-color: rgba(59, 59, 59, 0.3);
      }
    }
  }
}

@include media-breakpoint-up('md') {
  .about-section {
    &__image {
      left: 0;
      width: 100%;
      margin-bottom: 0;
    }
  }

  .advantages-section {
    padding-bottom: 0;
  }

  .about-slider-section {
    .slick-list {
      padding: 0 60px;
    }

    .slide {
      height: 350px;
    }
  }
}

@include media-breakpoint-up('lg') {
  .about-slider-section {
    .slick-list {
      padding: 0 30% 0 20%;
    }

    .slide {
      height: 400px;
    }
  }
}

@include media-breakpoint-up('xl') {
  .about-section {
    padding-bottom: 80px;

    &__desc {
      line-height: 22px;
    }
  }

  .advantages-section {
    padding: 60px 0;

    .col-12 {
      margin-bottom: 0;
    }

    &__desc {
      line-height: 20px;
    }
  }

  .about-slider-section {
    padding: 50px 0;
  }
}
