.certificates-section {
  .top-info-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .certificate-row {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 15px;
      right: 15px;
      height: 1px;
      background-color: #232323;
      opacity: 0.2;
    }
  }

  .certificate-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__year-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__year-select-box {
    position: relative;
    margin-bottom: 15px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      z-index: 1;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #232323;
    }
  }

  &__year-select {
    -webkit-appearance: none;
    padding: 0 15px;
    width: 215px;
    height: 40px;
    border: 1px solid #3b3b3b;
    cursor: pointer;
  }

  &__clear-btn {
    opacity: 0.5;
    color: $accent;
    font-family: $Helvetica-300;
    font-size: 14px;
  }

  &__certificate-image {
    width: 255px;
    margin: 0 auto 7px;
  }

  &__certificate-desc {
    color: #232323;
    font-size: 14px;
  }
}

@include media-breakpoint-up('md') {
  .certificates-section {
    .top-info-col {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .certificates-pagination-col {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    .certificate-row {
      padding-bottom: 0;
    }

    .certificate-col {
      margin-bottom: 30px;
    }

    .pagination {
      margin-bottom: 0;
    }

    .item-count {
      margin-bottom: 0;
    }

    &__title {
      margin-bottom: 0;
    }

    &__year-filter {
      flex-direction: column-reverse;
      align-items: flex-end;
    }

    &__year-select-box {
      margin-bottom: 0;
    }

    &__year-select {
      width: 215px;
    }

    &__clear-btn {
      margin-bottom: 15px;
    }
  }
}
