.contacts-section {
  &__contacts-links {
    margin-bottom: 20px;
  }

  &__call-links {
    margin-bottom: 20px;
  }

  &__socials {
    display: flex;
    margin-bottom: 40px;
  }

  &__social-link {
    width: 32px;
    height: 32px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

#map {
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
  height: 400px;
}

@include media-breakpoint-up('lg') {
  .contacts-section {
    &__title {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 40px;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 445px;
        height: 1px;
        background-color: #232323;
      }
    }

    &__socials {
      margin-bottom: 0;
    }

    &__call-links {
      margin-bottom: 40px;

      [class*='__link-with-icon'] {
        span {
          font-size: 21px;
        }
      }
    }
  }

  #map {
    left: 0;
    width: 100%;
    height: 630px;
  }
}

@include media-breakpoint-up('xl') {
  #map {
    width: 560px;
    transform: translateX(90px);
  }
}
