.delivery-section {
  padding-bottom: 50px;

  &__title {
    margin-bottom: 15px;
  }

  &__description {
    width: 100%;
    max-width: 730px;
    margin: 0 auto;

    p {
      color: #242424;
      line-height: 20px;
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up('lg') {
  .delivery-section {
    padding-bottom: 80px;

    &__title {
      margin-bottom: 20px;
      text-align: center;
      justify-content: center;
    }

    &__description {
      p {
        line-height: 22px;
      }
    }
  }
}
