.main-slider-section {
  margin-bottom: 30px;

  .main-slider {
    &__slide {
      position: relative;
    }

    &__slide-image {
      height: 250px;

      img {
        object-fit: cover;
      }
    }

    &__info-box {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      width: 100%;
      transform: translate(0, -50%);
      z-index: 2;
      max-width: 80%;
      margin: 0 auto;
    }

    &__title {
      color: #ffffff;
      font-family: $Helvetica-700;
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 15px;
      text-align: center;
    }

    &__desc {
      color: #fff;
      line-height: 18px;
      text-align: center;
    }

    .slick-dots {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      background-color: $gray;

      li {
        width: 100%;
        height: 4px;
        background-color: transparent;
        list-style: none;
        transition: all 0.7s ease-in-out;

        &.slick-active {
          background-color: $accent;
        }

        button {
          display: none;
        }
      }
    }
  }

  .slider-navigation {
    &__arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 13px;
      height: 24px;
      z-index: 3;

      &-prev {
        left: 15px;
      }

      &-next {
        right: 15px;
      }
    }
  }
}

.section-products {
  padding-bottom: 30px;

  &__title {
    margin-bottom: 20px;
    font-size: 26px;
    color: $accent;
    font-family: $Helvetica-700;
    text-align: center;
  }

  &__box {
    position: relative;

    &:hover {
      .section-products__image {
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);

        img {
          filter: grayscale(0);
        }
      }
    }
  }

  &__image {
    height: 190px;
    transition: all 0.5s ease-in-out;

    img {
      object-fit: cover;
      filter: grayscale(1);
      transition: all 0.5s ease-in-out;
    }
  }

  &__name {
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 20px;
    color: #fff;
    font-family: $Helvetica-700;
    z-index: 2;
    width: 100%;
    max-width: 70%;
    margin-bottom: 0;
  }
}

.section-help {
  padding-bottom: 30px;

  &__image {
    height: 250px;

    img {
      object-fit: cover;
      object-position: left;
    }
  }

  &__col {
    background-color: #fff;
    box-shadow: 0 1px 16px rgba(34, 58, 118, 0.2);
  }

  &__box {
    width: 100%;
    max-width: 210px;
    margin: 0 auto;
    padding: 40px 0;
  }

  &__title {
    font-size: 26px;
    color: $accent;
    font-family: $Helvetica-700;
    margin-bottom: 15px;
  }

  &__desc {
    line-height: 20px;
    margin-bottom: 30px;
    opacity: 0.5;
  }

  &__help-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: $accent;

    span {
      color: #fff;
      font-size: 16px;
    }
  }
}

.section-about {
  &__image {
    height: 195px;
    margin-bottom: -20px;

    img {
      object-fit: cover;
    }
  }

  &__info-box {
    background-color: $accent;
    padding: 50px 15px 25px;
  }

  &__title {
    font-size: 26px;
    color: #fff;
    font-family: $Helvetica-700;
    margin-bottom: 20px;
  }

  &__desc {
    color: #e9e9e9;
    line-height: 20px;
    margin-bottom: 17px;
  }

  &__link-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;

    span {
      display: block;
      color: #fff;
      line-height: 22px;
      margin-right: 10px;
    }

    img {
      width: 22px;
    }
  }
}

@include media-breakpoint-up('md') {
  .main-slider-section {
    .main-slider {
      &__slide-image {
        height: 350px;
      }
    }
  }

  .section-about {
    &__image {
      height: 100%;
    }

    &__info-box {
      margin-top: 60px;
    }
  }
}

@include media-breakpoint-up('lg') {
  .section-products {
    &__image {
      height: 305px;
    }

    &__name {
      left: 30px;
      bottom: 35px;
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up('xl') {
  .main-slider-section {
    margin-bottom: 80px;

    .main-slider {
      &__slide-image {
        height: 640px;
      }

      &__info-box {
        max-width: 560px;
      }

      &__title {
        font-size: 54px;
        line-height: normal;
      }

      &__desc {
        font-size: 20px;
        line-height: 28px;
      }
    }

    .slider-navigation {
      &__arrow {
        width: 21px;
        height: 40px;
        cursor: pointer;

        &-prev {
          left: 80px;
        }

        &-next {
          right: 80px;
        }
      }
    }
  }

  .section-products {
    padding-bottom: 60px;

    &__box {
      cursor: pointer;
    }

    &__title {
      font-size: 40px;
      letter-spacing: 1.13px;
      margin-bottom: 40px;
    }

    &__name {
      font-size: 24px;
    }
  }

  .section-help {
    padding-bottom: 60px;

    &__box {
      max-width: 260px;
    }

    &__title {
      font-size: 32px;
    }

    &__desc {
      margin-bottom: 25px;
    }

    &__image {
      height: 100%;
    }
  }

  .section-about {
    &__image {
      height: 340px;
      margin-bottom: 0;
    }

    &__info-box {
      padding: 50px 100px 50px 40px;
      margin-top: 0;
      height: auto;
    }

    &__title {
      font-size: 32px;
    }

    &__desc {
      line-height: 22px;
      margin-bottom: 20px;
    }
  }
}
