.products-list {
  &__box {
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__image {
    width: 100%;
    margin-bottom: 20px;
  }

  &__availability {
    display: flex;
    margin-bottom: 10px;

    img {
      width: 16px;
      margin-right: 10px;
    }

    span {
      color: #232323;
      font-size: 12px;
    }
  }

  &__name {
    color: #3b3b3b;
    font-family: $Helvetica-700;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &__desc {
    color: rgba(59, 59, 59, 0.5);
    line-height: 18px;
    margin-bottom: 25px;
  }

  &__price-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__price {
    color: $accent;
    font-family: $Helvetica-700;
    font-size: 22px;
    margin-bottom: 0;

    span {
      margin-left: 5px;
    }
  }

  &__additional-info {
    color: rgba(59, 59, 59, 0.5);
    font-size: 12px;
    font-weight: 300;
  }

  &__btn-row {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50%;
    border: 1px solid $accent;

    &:first-child {
      margin-right: 15px;
    }

    span {
      color: $accent;
    }

    &_order {
      background-color: $accent;

      span {
        color: #fff;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $accent;

    img {
      width: 8px;
      height: 16px;
    }
  }

  &__pages-box {
    display: flex;
  }

  &__page {
    width: 40px;
    height: 40px;
    border: 1px solid $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;

    span {
      color: $accent;
      font-size: 18px;
    }

    &-active {
      background-color: $accent;

      span {
        color: #fff;
      }
    }
  }
}

.item-count {
  margin-bottom: 30px;

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    color: rgba(59, 59, 59, 0.5);
    font-family: $Helvetica-300;
    font-size: 16px;
    margin-bottom: 0;
  }

  &__select-box {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 20px;
      height: 100%;
      background-color: $accent;
      background-image: url('../images/SelectArrow.svg');
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 1;
    }
  }

  &__select {
    position: relative;
    -webkit-appearance: none;
    width: 65px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid $accent;
    color: $accent;
    font-family: $Helvetica-300;
    font-size: 18px;
    padding: 0 12px;
    z-index: 2;
    background-color: transparent;
  }
}

.filter-btn {
  position: fixed;
  bottom: 30px;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  z-index: 99;

  span {
    display: block;
    height: 2px;
    border-radius: 15px;
    background-color: $accent;
    margin-bottom: 4px;

    &:nth-child(1) {
      width: 20px;
    }

    &:nth-child(2) {
      width: 14px;
    }

    &:nth-child(3) {
      width: 4px;
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up('sm') {
  .pagination {
    justify-content: flex-end;
  }

  .item-count {
    form {
      justify-content: flex-end;
    }

    &__label {
      margin-right: 30px;
    }
  }
}

@include media-breakpoint-up('lg') {
  .products-list {
    &__box {
      padding: 0;
      margin-bottom: 30px;
      box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    }

    &__image {
      margin-bottom: 0;
    }

    &__info-box {
      padding: 15px;
    }
  }
}

@include media-breakpoint-up('xl') {
  .products-list {
    &__desc {
      font-size: 15px;
      color: #232323;
    }

    &__box {
      position: relative;

      &:hover {
        .products-list__btn-row {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &__price-info {
      margin-bottom: 15px;
    }

    &__price {
      margin-bottom: 20px;
    }

    &__availability {
      margin-bottom: 0;
    }

    &__btn-row {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: rgba(34, 58, 118, 0.86);
      backdrop-filter: blur(3px);
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: all .4s ease-in-out;
    }

    &__btn {
      width: 180px;
      min-width: 180px;
      border: 1px solid #f1f1f1;

      &:first-child {
        margin-right: 0;
        margin-bottom: 15px;
      }

      span {
        color: #ffffff;
      }

      &_order {
        background-color: #fff;

        span {
          color: $accent
        }
      }
    }
  }

  .pagination {
    margin-bottom: 0;
    justify-content: space-between;
  }

  .item-count {
    form {
      justify-content: space-between;
    }

    &__label {
      margin-right: 10px;
      user-select: none;
    }
  }
}
