.product-slider {
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
  margin-bottom: 50px;

  .slide {

  }

  .slick-dots {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 15px;

    li {
      list-style: none;
      width: 5px;
      height: 5px;
      background-color: $accent;
      opacity: 0.2;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {
        opacity: 1;
      }

      button {
        display: none;
      }
    }
  }
}

.back-btn {
  display: flex;
  align-items: center;
  opacity: 0.3;
  margin-bottom: 15px;

  img {
    width: 8px;
    margin-right: 10px;
  }

  span {
    color: #3b3b3b;
  }
}

.selected-product-info {
  padding-bottom: 30px;

  &__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &_text {
      color: #3b3b3b;
      font-family: $Helvetica-700;
      font-size: 26px;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  &__price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__price {
    color: $accent;
    font-family: $Helvetica-700;
    font-size: 36px;
    margin-bottom: 0;
  }

  &__availability {
    display: flex;
    align-items: center;

    img {
      width: 16px;
      margin-right: 10px;
    }

    span {
      color: #232323;
      font-size: 12px;
    }
  }

  &__btn-wrap {
    margin-bottom: 25px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 50px;
    background-color: $accent;

    span {
      color: #ffffff;
      font-size: 16px;
    }
  }

  &__detailed-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__detailed-row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      color: #232323;
      line-height: 22px;
    }

    span {
      display: flex;
      flex-grow: 1;
      margin-left: 25px;
      margin-right: 30px;
      height: 1px;
      background-color: #666666;
      opacity: 0.5;
      margin-bottom: 5px;
    }
  }

  &__detail-value {
    min-width: 60px;
  }

  &__description {
    p {
      color: #232323;
      line-height: 22px;
    }
  }
}

@include media-breakpoint-up('md') {
  .product-slider {
    left: 0;
    width: 100%;
  }
}

@include media-breakpoint-up('lg') {
  .slider-col {
    display: flex;
    flex-direction: column;
  }

  .product-slider {
    margin-bottom: 30px;
  }

  .product-small-slider {
    .slide {
      margin-right: 15px;
      height: 60px;
      opacity: 0.5;
      transition: all 0.5s ease-in-out;

      &.slick-current {
        opacity: 1;
      }

      img {
        object-fit: cover;
      }
    }
  }

  .name-col {
    margin-bottom: 30px;
  }

  .back-btn {
    margin-bottom: 0;

    img {
      width: 13px;
      height: 26px;
      margin-right: 0;
    }
  }

  .selected-product-info {
    &__name {
      &_text {
        color: #223a76;
        font-size: 40px;
        letter-spacing: 1.13px;
        margin-bottom: 0;
        margin-left: 40px;
      }
    }
  }
}

@include media-breakpoint-up('xl') {
  .selected-product-section {
    padding-bottom: 130px;
  }

  .slider-col {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .product-small-slider {
    .slide {
      margin-bottom: 15px;
      max-width: 65px;
      height: 65px;
      cursor: pointer;
    }
  }

  .product-slider {
    width: calc(100% - 95px);
    margin: 0 0 40px auto;

    .slide {
      height: 465px;

      img {
        object-fit: cover;
      }
    }
  }

  .name-col {
    margin-bottom: 40px;
  }

  .selected-product-info {
    &__name {
      &_text {
        margin-left: 82px;
      }
    }

    &__btn-wrap {
      margin-bottom: 0;
      margin-left: 50px;
    }

    &__btn {
      width: 160px;
    }

    &__price-info {
      margin-bottom: 25px;
      justify-content: flex-start;
    }

    &__availability {
      margin-bottom: 25px;
    }

    &__detailed-info {
      margin-bottom: 0;
    }

    &__detailed-row {
      span {
        opacity: 1;
        background-color: #e9e9e9;
        margin: 0 20px 5px;
      }
    }

    &__detail-value {
      text-align: right;
    }

    &__desctiption {
      p {
        font-size: 16px;
      }
    }
  }
}
