.product-info {
  &__image {
    position: relative;
    left: -15px;
    width: calc(100% + 30px);
    margin-bottom: 30px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  &__back-btn {
    display: flex;
    align-items: center;
    opacity: 0.3;
    margin-bottom: 15px;

    img {
      width: 8px;
      margin-right: 10px;
    }

    span {
      color: #3b3b3b;
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  &__desc {
    color: #242424;
    line-height: 20px;
  }
}

.section-sub-category {
  .sub-product-list {
    &__box {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      box-shadow: 0 7px 21px rgba(0, 0, 0, 0.2);

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(35, 35, 35, 0.9);
        z-index: 2;
        opacity: 0;
        transition: all .7s ease-in-out;
      }

      &:hover {
        &:before {
          opacity: 1;
        }

        .sub-product-list__name {
          transform: translate(-50%, calc(-50% - 15px));
          transition-delay: 0s;
        }

        .sub-product-list__desc {
          opacity: 1;
          transform: translateY(calc(-50% + 35px));
          transition-delay: .3s;
        }
      }
    }

    &__image {
      width: 100%;
    }

    &__name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      font-family: $Helvetica-700;
      font-size: 26px;
      margin-bottom: 10px;
      z-index: 2;
      transition: all .7s ease-in-out .3s;
    }

    &__desc {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(calc(-50% + 50px));
      width: 100%;
      max-width: 90%;
      margin: 0 auto;
      opacity: 0;
      color: #e9e9e9;
      line-height: 20px;
      text-align: center;
      transition: all .7s ease-in-out 0s;
      z-index: 2;
    }
  }
}

@include media-breakpoint-up('md') {
  .product-info {
    padding-bottom: 60px;

    &__box {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up('lg') {
  .product-info {
    position: relative;
    margin-bottom: 50px;

    .col-lg-7 {
      padding-left: 55px;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #232323;
      opacity: 0.2;
      height: 1px;
      width: 350px;
    }

    &__image {
      width: 100%;
      left: 0;
      margin-bottom: 0;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__box {
      max-width: 540px;
    }

    &__back-btn {
      position: absolute;
      top: 12px;
      left: 0;
      margin-bottom: 0;

      img {
        width: 13px;
        margin-right: 0;
      }
    }
  }
}

@include media-breakpoint-up('xl') {
  .product-info {
    &__title {
      line-height: 42px;
    }
  }

  .section-sub-category {
    .sub-product-list {
      &__box {
        &:hover {
          .sub-product-list__name {
            transform: translate(-50%, calc(-50% - 35px));
          }

          .sub-product-list__desc {
            opacity: 1;
            transform: translateY(calc(-50% + 25px));
          }
        }
      }
    }
  }
}
