@font-face {
  font-family: 'HelveticaNeueCyr Bold';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr Light';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot');
  src: local('HelveticaNeueCyr-Light'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr Medium';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr Regular';
  src: url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
