html, body {
  font-family: $Helvetica-400;
  font-size: 14px;
  line-height: normal;
  background-color: #fbfbfc;
  overflow-x: hidden;
}

input, button, textarea, select, option {
  outline: none !important;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

a, p {
  text-decoration: none !important;
  margin-bottom: 0;
}

a {
  &:hover {
    color: $accent;
  }
}

section {
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

[class*='__image-wrap'] {
  position: relative;
  z-index: 1;
}

[class*='__title'] {
  color: $accent;
  font-family: $Helvetica-700;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 30px;
}

[class*='__link-with-icon'] {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  img {
    width: 15px;
    min-width: 15px;
    margin-right: 10px;
  }

  span {
    color: $accent;
    font-size: 16px;
    letter-spacing: 0.45px;
  }

  &:hover {
    span {
      color: $accent;
    }
  }
}

.container {
  position: relative;
  z-index: 5;
}

.slick-slide {
  outline: none !important;
}

main {
  padding-top: 50px;
}

@include media-breakpoint-up('xl') {
  html, body {
    font-size: 16px;
  }

  main {
    padding-top: 100px;
    margin-left: 105px;
    width: calc(100vw - 120px);
  }

  [class*='__title'] {
    font-size: 40px;
    letter-spacing: 1.13px;
  }
}
