.breadcrumbs {
  padding: 0 15px;
  max-width: 100%;
  margin: 30px auto 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  span {
    margin: 0 5px;
    opacity: 0.3;
    color: #3b3b3b;
    font-size: 12px;
  }

  &__item {
    opacity: 0.3;
    color: #3b3b3b;
    font-size: 12px;

    &:hover {
      color: #3b3b3b;
    }
  }
}

@include media-breakpoint-up('sm') {
  .breadcrumbs {
    max-width: 540px;
  }
}

@include media-breakpoint-up('md') {
  .breadcrumbs {
    max-width: 720px;
  }
}

@include media-breakpoint-up('lg') {
  .breadcrumbs {
    max-width: 960px;
  }
}

@include media-breakpoint-up('xl') {
  .breadcrumbs {
    max-width: 1140px;
    margin-bottom: 40px;
  }
}
