.footer {
  padding: 40px 0;
  background-color: #f0f0f0;

  &__logo {
    width: 260px;
    height: 60px;
    margin: 0 auto;
  }

  &__schedule-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px 0 40px;
  }

  &__schedule-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    &_close {
      opacity: 0.4;
    }

    p {
      color: #3b3b3b;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__phones-box, &__address-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__address-box {
    margin-bottom: 0;
  }

  &__contact-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accent;
    font-size: 16px;
    margin-bottom: 10px;

    img {
      width: 15px;
      margin-right: 10px;
    }
  }
}

.copyright {
  background-color: #fff;

  .container {
    padding-top: 12px;
    padding-bottom: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    opacity: 0.9;
    color: #232323;
    font-size: 12px;
  }
}

@include media-breakpoint-up('md') {
  .footer {
    &__logo {
      margin-left: 0;
      margin-bottom: 30px;
    }

    &__schedule-box {
      width: 100%;
      max-width: 320px;
      margin: 0 0 0 auto;
    }

    &__contact-box {
      align-items: flex-start;
    }

    &__contact-text {
      justify-content: flex-start;
    }
  }
}

@include media-breakpoint-up('xl') {
  .footer {
    padding: 50px 0;
    margin-left: 105px;
    width: calc(100vw - 120px);

    &__schedule-box {
      margin: 0 auto;
    }

    &__schedule-item {
      margin-bottom: 10px;
    }

    &__menu-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__menu-item {
      margin-bottom: 20px;
    }

    &__menu-link {
      color: #3b3b3b;
      font-size: 16px;

      &:hover {
        color: #3b3b3b;
      }
    }
  }

  .copyright {
    margin-left: 105px;
    width: calc(100vw - 120px);
  }
}
