.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  box-shadow: 0 4px 16px rgba(35, 35, 35, 0.2);
  background-color: $accent;
  padding: 7px 15px;
  z-index: 9999;

  &.open {
    .header__menu {
      z-index: 4;
      transition-delay: 0s;
    }

    .header__menu-box {
      &:before {
        transform: scale(20);
      }

      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          transform-origin: left center;
        }

        &:nth-child(2) {
          transform: translateX(100%);
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          transform-origin: left center;
        }
      }
    }

    .header__menu-phone-button, .header__lang-box {
      opacity: 1;
      visibility: visible;
    }

    .header__lang-box {
      transition-delay: .3s;
    }

    .header__menu-phone-button {
      transition-delay: .5s;
    }

    .header__menu-list {
      opacity: 1;
      visibility: visible;
      transition-delay: .5s;
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    transition-property: z-index;
    transition-delay: 1s;
  }

  &__menu-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 20px;

    &:before {
      content: '';
      position: absolute;
      bottom: -24px;
      right: -24px;
      width: 80px;
      height: 80px;
      background-color: #f0f0f0;
      border-radius: 100%;
      z-index: 1;
      transition: all 1s ease-in-out;
    }

    span {
      position: relative;
      display: block;
      width: 100%;
      height: 2px;
      background-color: $accent;
      border-radius: 10px;
      z-index: 2;
      transition: all .7s ease-out;

      &:nth-child(1), &:nth-child(3) {
        transform-origin: left center;
      }
    }
  }

  &__lang-box {
    display: flex;
    height: 100%;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: all .7s ease-in-out 0s;
    z-index: 3;
  }

  &__lang-text {
    display: flex;
    align-items: flex-end;
    height: 100%;
    opacity: 0.3;
    padding: 0 9px 12px;
    color: $accent;
    letter-spacing: 0.39px;
    background-color: transparent;

    &.active {
      background-color: $accent;
      color: #e9e9e9;
      opacity: 1;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 157px;
    height: 36px;
    z-index: 3;

    img {
      object-fit: contain;
    }
  }

  &__phone-button {
    position: relative;
    z-index: 3;
  }

  &__menu-phone-button {
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: all .7s ease-in-out 0s;
    z-index: 3;
  }

  &__menu-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc(100vh - 55px);
    margin-top: 55px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: all .7s ease-in-out 0s;
    z-index: 1;
  }

  &__menu-links-box {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link-item {
    color: #3b3b3b;
    font-size: 18px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__menu-contact-box {
    display: flex;
    flex-direction: column;
  }

  &__menu-contact-link {
    display: flex;
    align-items: center;
    color: $accent;
    margin-bottom: 20px;

    img {
      width: 15px;
      margin-right: 10px;
    }
  }

  &__menu-socials-box {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@include media-breakpoint-up('sm') {
  .header {
    &__menu-list {
      justify-content: flex-start;
      overflow: auto;
      padding-bottom: 30px;
    }

    &__menu-links-box {
      padding: 30px 0;
    }
  }
}

@include media-breakpoint-up('md') {
  .header {
    &.open {
      .header__menu-box {
        &:before {
          transform: scale(35);
        }
      }
    }

    &__menu-list {
      justify-content: center;
      padding-bottom: 0;
    }

    &__menu-links-box {
      padding: 60px 0;
    }
  }
}

@include media-breakpoint-up('xl') {
  .header {
    display: block;
    height: 100px;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(34, 58, 118, 0.1);
    background-color: #fbfbfc;
    margin-left: 105px;
    width: calc(100vw - 120px);

    .container {
      max-width: 1230px;
    }

    &__logo {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      width: 260px;
      height: 60px;
      margin-right: 30px;
    }

    &__lang-box {
      opacity: 1;
      visibility: visible;
    }

    &__lang-text {
      font-size: 16px;
      letter-spacing: 0.45px;
      margin-top: -20px;
      height: 72px;
    }

    &__desktop-contact-box {
      display: flex;
      flex-direction: column;
    }

    &__desktop-contact-text {
      display: flex;
      align-items: center;
      color: #3b3b3b;
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        width: 15px;
        margin-right: 10px;
      }
    }

    &__desktop-call-box {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    &__desktop-call-text {
      display: flex;
      align-items: center;
      margin-right: 30px;
      opacity: 0.8;
      color: $accent;
      font-size: 16px;

      img {
        width: 15px;
        margin-right: 10px;
      }
    }
  }

  .right-nav-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 325px;
    background-color: $accent;
    padding: 40px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 1s ease-in-out;

    &.collapsed {
      width: 105px;
      padding: 40px 17px;

      .right-nav-menu__menu-icon {
        left: 50%;
        transform: translateX(-50%);
        transition-delay: .5s;

        span {
          &:nth-child(1) {
            transform: rotate(0);
          }

          &:nth-child(2) {
            transform: translateX(0%);
            opacity: 1;
          }

          &:nth-child(3) {
            transform: rotate(0);
          }
        }
      }

      .right-nav-menu__menu-links, .right-nav-menu__contacts {
        left: 25px;
        transition-delay: .5s;
      }

      .right-nav-menu__menu-link, .right-nav-menu__contacts-link {
        img {
          margin-right: 50px;
          transition-delay: .5s;
        }
      }

      .right-nav-menu__socials {
        flex-direction: column;
        align-items: center;

        a {
          margin-right: 0;
          margin-bottom: 40px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .custom-btn {
        span {
          opacity: 0;
          transition-delay: .5s;
        }

        img {
          opacity: 1;
          transition-delay: .8s;
        }
      }
    }

    &__top-content {
      position: relative;
      margin-bottom: 60px;
    }

    &__menu-icon {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(0%);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 32px;
      height: 25px;
      cursor: pointer;
      transition: all .5s ease-in-out 0s;

      span {
        position: relative;
        display: block;
        background-color: #fff;
        width: 100%;
        border-radius: 25px;
        height: 3px;
        transition: all .7s ease-out;

        &:nth-child(1) {
          transform: rotate(45deg);
          transform-origin: left center;
        }

        &:nth-child(2) {
          transform: translateX(100%);
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          transform-origin: left center;
        }
      }
    }

    &__menu-links {
      position: relative;
      left: 0;
      width: 245px;
      display: flex;
      flex-direction: column;
      margin-top: 75px;
      transition: all .5s ease-in-out 0s;
    }

    &__menu-item {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__menu-link {
      position: relative;
      display: flex;
      align-items: center;
      opacity: 0.6;
      color: #ffffff;
      font-size: 16px;
      transition: all .35s ease-in-out;

      &.active {
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: -20px;
          width: calc(100% + 60px);
          height: 62px;
          transform: translateY(-50%);
          border-radius: 100px 0 0 100px;
          background-color: #d8d8d8;
          opacity: 0.2;
          z-index: -1;
        }
      }

      &:hover {
        opacity: 1;
        color: #fff;
      }

      img {
        width: 26px;
        min-width: 26px;
        margin-right: 20px;
        transition: all .5s ease-in-out 0s;
      }
    }

    &__socials {
      display: flex;
      margin-bottom: 40px;

      a {
        width: 32px;
        min-width: 32px;
        height: 32px;
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
          margin-bottom: 0;
        }
      }
    }

    &__contact-btn {
      margin-bottom: 40px;
    }

    .custom-btn {
      position: relative;
      width: 100%;
      height: 54px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        font-size: 16px;
        color: $accent;
        transition: all .5s ease-in-out 0.8s;
      }

      img {
        width: 26px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .5s ease-in-out 0.5s;
      }
    }

    &__contacts {
      position: relative;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 245px;
      transition: all .5s ease-in-out 0s;
    }

    &__contacts-link {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      &:hover {
        span {
          color: #e9e9e9;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      span {
        opacity: 0.5;
        color: #e9e9e9;
        font-size: 16px;
      }

      img {
        width: 25px;
        min-width: 25px;
        margin-right: 15px;
        transition: all .5s ease-in-out 0s;
      }
    }
  }
}
