#modalSuccess {
  top: 50px;
  height: 100%;

  .close-icon {
    top: 20px;
    right: 20px;
  }

  .modal-content {
    padding: 55px;
  }

  .modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .modal-title {
    color: $accent;
    font-family: $Helvetica-700;
    font-size: 26px;
    margin-bottom: 10px;
  }

  .modal-sub-title {
    color: #232323;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}

@include media-breakpoint-up('lg') {
  #modalSuccess {
    .modal-dialog {
      max-width: 540px;
    }

    .modal-content {
      padding: 115px 0;
    }

    .modal-header {
      width: 100%;
      max-width: 365px;
      margin: 0 auto;
    }

    .close-icon {
      top: 20px;
      right: 20px;
      width: 26px;
      height: 26px;
    }

    .modal-title {
      font-size: 40px;
      margin-bottom: 0;
    }

    .modal-sub-title {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

@include media-breakpoint-up('xl') {
  #modalSuccess {
    top: 100px;
  }
}
