.modal-backdrop {
  top: 50px;
  height: calc(100vh - 50px);
  z-index: 98;
  background-color: rgba(35, 35, 35, 0.9);
  backdrop-filter: blur(10px);

  &.show {
    opacity: 1;
  }
}

.close-icon {
  position: absolute;
  top: 0;
  right: -15px;
  width: 20px;
  height: 20px;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: $accent;

    &:nth-child(1) {
      transform: translateY(-50%) rotate(45deg);
    }

    &:nth-child(2) {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

.modal-header, .modal-body {
  padding: 0;
  border: none;
}

.modal-content {
  border-radius: 0;
  border: none;
  padding: 40px 35px;
}

#modalOrder {
  top: 50px;
  height: 100%;

  .modal-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .modal-title {
    color: $accent;
    font-family: $Helvetica-700;
    font-size: 26px;
    margin-bottom: 5px;
  }

  .modal-sub-title {
    color: #232323;
    line-height: 20px;
  }

  .form-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .form-input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    font-size: 16px;
    line-height: 20px;
    color: $accent;
    height: 50px;
    margin-bottom: 15px;
    border: 1px solid #232323;

    &::placeholder {
      color: rgba(35, 35, 35, 0.5);
    }
  }

  .form-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: $accent;

    span {
      color: #fff;
      font-size: 16px;
    }
  }
}

@include media-breakpoint-up('lg') {
  #modalOrder {
    .modal-dialog {
      max-width: 540px;
    }

    .modal-content {
      padding: 50px 0;
    }

    .modal-header {
      position: unset;
    }

    .close-icon {
      top: 20px;
      right: 20px;
      width: 26px;
      height: 26px;
    }

    .modal-title {
      font-size: 40px;
    }

    .modal-sub-title {
      font-size: 16px;
      line-height: 22px;
    }

    .modal-body {
      width: 100%;
      max-width: 280px;
      margin: 0 auto;
    }
  }
}

@include media-breakpoint-up('xl') {
  #modalOrder {
    top: 100px;
  }
}
