#modalFilter {
  z-index: 9999;

  .modal-content {
    border: none;
    border-radius: 0;
    background-color: $accent;
    padding: 30px;
    height: 100%;
  }

  .modal-dialog {
    margin: 0;
    height: 100%;
  }

  .modal-header, .modal-body {
    padding: 0;
    border: none;
  }
}

.filter-form {
  position: unset;

  &__clear-btn {
    text-decoration: underline;
    font-size: 16px;
    color: #e9e9e9;
  }

  &__btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    &_submit {
      position: absolute;
      bottom: 90px;
      right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 16px;
        height: 10px;
      }
    }

    &_close {
      position: absolute;
      bottom: 20px;
      right: 15px;

      span {
        display: block;
        width: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 2px;
        border-radius: 15px;
        background-color: $accent;
        z-index: 1;

        &:nth-child(1) {
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:nth-child(2) {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }
}

.search-filter {
  position: relative;
  width: 100%;

  .filter-box__input-group {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e9e9e9;
    color: #e9e9e9;
    line-height: 21px;

    &::placeholder {
      color: rgba(233, 233, 233, 0.5)
    }
  }

  .btn-search {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    z-index: 1;
    cursor: pointer;
  }
}

.filter-box {
  margin-bottom: 30px;

  &__title {
    color: #e9e9e9;
    font-family: $Helvetica-400;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__input-box {
    display: flex;
    flex-wrap: wrap;

    &_type {
      width: 100%;
      max-width: 230px;
    }

    &_cut {
      .filter-box__input-group {
        margin-bottom: 10px;
      }
    }
  }

  &__input-group {
    display: flex;
    align-items: center;
    width: 50%;
  }

  &__label {
    margin-left: 10px;
    color: rgba(233, 233, 233, 0.5);
    line-height: 21px;
    margin-bottom: 0;
  }

  &__checkbox {
    -webkit-appearance: none;
    width: 11px;
    height: 11px;
    background-color: transparent;
    border: 1px solid rgba(233, 233, 233, 0.3);

    &:checked {
      background-color: #e9e9e9;
      border: 1px solid rgba(233, 233, 233, 1);

      &~.filter-box__label {
        color: #e9e9e9;
      }
    }
  }
}

.count-row {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.count-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 35px;
  min-width: 35px;
  cursor: pointer;

  &:before {
    content: '';
    width: 1px;
    height: 7px;
    background-color: #fff;
    transition: all .3s ease-in-out;
  }

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }

  span {
    display: block;
    position: absolute;
    bottom: 100%;
    transform: translateX(-50%);
    font-family: $Helvetica-300;
    color: rgba(233, 233, 233, 0.5);
    font-size: 12px;
    line-height: 21px;
    transition: all .3s ease-in-out;
  }

  &.active {
    &:before {
      width: 11px;
      margin-left: -5.5px;
    }

    span {
      bottom: calc(100% + 3px);
      font-family: $Helvetica-400;
      color: #e9e9e9;
    }
  }
}

@include media-breakpoint-up('sm') {
  #modalFilter {
    .modal-dialog {
      margin: 0 0 0 auto;
    }
  }

  .filter-form {
    background-color: $accent;
    padding: 30px 20px;
    margin-bottom: 20px;
  }

  .count-filter {
    .filter-box__input-group {
      width: 100%;
    }
  }

  .filter-box {
    &__input-box {
      &_type {
        flex-direction: column;

        .filter-box__input-group {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &__label, &__checkbox {
      cursor: pointer;
    }

    &__label {
      margin-left: 0;
      padding-left: 10px;
    }
  }
}
