<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4">
        <div class="footer__logo footer__image-wrap">
          <img src="images/Logo.png" alt="Logo">
        </div>
        <div class="footer__contact-box d-none d-md-flex">
          <div class="footer__phones-box">
            <a href="tel: +38 (066) 066-06-06" class="footer__contact-text">
              <img src="images/ContactCall.svg" alt="Phone">
              +38 (066) 066-06-06
            </a>
            <a href="tel: +38 (066) 066-06-06" class="footer__contact-text">
              <img src="images/ContactCall.svg" alt="Phone">
              +38 (066) 066-06-06
            </a>
          </div>
          <div class="footer__address-box">
            <a href="mailto: kabelyodesplast@gmail.com" class="footer__contact-text">
              <img src="images/ContactMail.svg" alt="Mail">
              kabelyodesplast@gmail.com
            </a>
            <p class="footer__contact-text">
              <img src="images/ContactGeo.svg" alt="Geo">
              Малая Арнаутская, 35
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-5">
        <div class="footer__schedule-box">
          <div class="footer__schedule-item">
            <p>Понедельник</p>
            <p class="footer__schedule-item_close">Закрыто</p>
          </div>
          <div class="footer__schedule-item">
            <p>Вторник</p>
            <p>9:30 a.m. – 5:00 p.m.</p>
          </div>
          <div class="footer__schedule-item">
            <p>Среда</p>
            <p>9:30 a.m. – 5:00 p.m.</p>
          </div>
          <div class="footer__schedule-item">
            <p>Четверг</p>
            <p>9:30 a.m. – 5:00 p.m.</p>
          </div>
          <div class="footer__schedule-item">
            <p>Пятница</p>
            <p>9:30 a.m. – 5:00 p.m.</p>
          </div>
          <div class="footer__schedule-item">
            <p>Суббота</p>
            <p>11:00 a.m. – 4:00 p.m.</p>
          </div>
          <div class="footer__schedule-item">
            <p>Воскресенье</p>
            <p class="footer__schedule-item_close">Закрыто</p>
          </div>
        </div>
      </div>

      <div class="col-12 d-block d-md-none">
        <div class="footer__contact-box">
          <div class="footer__phones-box">
            <a href="tel: +38 (066) 066-06-06" class="footer__contact-text">
              <img src="images/ContactCall.svg" alt="Phone">
              +38 (066) 066-06-06
            </a>
            <a href="tel: +38 (066) 066-06-06" class="footer__contact-text">
              <img src="images/ContactCall.svg" alt="Phone">
              +38 (066) 066-06-06
            </a>
          </div>
          <div class="footer__address-box">
            <a href="mailto: kabelyodesplast@gmail.com" class="footer__contact-text">
              <img src="images/ContactMail.svg" alt="Mail">
              kabelyodesplast@gmail.com
            </a>
            <p class="footer__contact-text">
              <img src="images/ContactGeo.svg" alt="Geo">
              Малая Арнаутская, 35
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 d-none d-xl-flex justify-content-end">
        <div class="footer__menu-links">
          <div class="footer__menu-item">
            <a href="/" class="footer__menu-link">Главная</a>
          </div>
          <div class="footer__menu-item">
            <a href="category.html" class="footer__menu-link">Товары</a>
          </div>
          <div class="footer__menu-item">
            <a href="delivery.html" class="footer__menu-link">Доставка и оплата</a>
          </div>
          <div class="footer__menu-item">
            <a href="certificates.html" class="footer__menu-link">Сертификаты</a>
          </div>
          <div class="footer__menu-item">
            <a href="about.html" class="footer__menu-link">О нас</a>
          </div>
          <div class="footer__menu-item">
            <a href="contacts.html" class="footer__menu-link">Контакты</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright">
  <div class="container">
    <a href="#" target="_blank" class="copyright__text">сайт на вашу фирму.com</a>
    <a href="https://comnd-x.com" target="_blank" class="copyright__text">by Command+X</a>
  </div>
</div>

<!-- Order(LUL) -->
<div class="modal fade" id="modalOrder" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Оставьте заявку</h5>
        <p class="modal-sub-title">для подтверждения заказа</p>
        <div class="close-icon" data-dismiss="modal">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="modal-body">
        <form action="#" id="formOrder" class="form-box">
          <input type="text" name="name" id="name" class="form-input" placeholder="Имя" required>
          <input type="email" name="email" id="email" class="form-input" placeholder="Почта" required>
          <input type="tel" name="phone" id="phone" class="form-input" placeholder="Телефон" required>
          <button type="submit" class="form-btn"><span>Заказать</span></button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Success-->
<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Спасибо за заказ!</h5>
        <p class="modal-sub-title">Наш менеджер свяжется с Вами в ближайшее время.</p>
        <div class="close-icon" data-dismiss="modal">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
<script defer src="js/bundle.js?v=1.1"></script>
</body>
</html>
