<header class="header">
<!--  MOBILE HEADER-->
  <div class="d-block d-xl-none">
    <div class="header__menu">
      <div class="header__menu-box">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="header__lang-box">
        <a href="#" class="header__lang-text active">рус</a>
        <a href="#" class="header__lang-text">укр</a>
      </div>
      <button type="button" class="header__menu-phone-button">
        <img src="images/PhoneIconAccent.svg" alt="Call">
      </button>

      <div class="header__menu-list">
        <div class="header__menu-links-box">
          <a href="/" class="header__link-item">Главная</a>
          <a href="category.html" class="header__link-item">Товары</a>
          <a href="delivery.html" class="header__link-item">Доставка и оплата</a>
          <a href="certificates.html" class="header__link-item">Сертификаты</a>
          <a href="about.html" class="header__link-item">О нас</a>
          <a href="contacts.html" class="header__link-item">Контакты</a>
        </div>
        <div class="header__menu-contact-box">
          <a href="mailto: kabelyodesplast@gmail.com" class="header__menu-contact-link">
            <img src="images/ContactMail.svg" alt="Mail">
            kabelyodesplast@gmail.com
          </a>
          <p class="header__menu-contact-link">
            <img src="images/ContactGeo.svg" alt="Geo">
            Малая Арнаутская, 35
          </p>
        </div>
        <div class="header__menu-socials-box">
          <a href="#" target="_blank">
            <img src="images/MenuFB.svg" alt="Facebook">
          </a>
          <a href="#" target="_blank">
            <img src="images/MenuTG.svg" alt="Telegram">
          </a>
        </div>
      </div>
    </div>
    <div class="header__logo header__image-wrap">
      <img src="images/Logo.png" alt="Logotype">
    </div>
    <button type="button" class="header__phone-button">
      <img src="images/PhoneIcon.svg" alt="Call">
    </button>
  </div>
<!--  DESKTOP HEADER-->
  <div class="d-none d-xl-block">
    <div class="container">
      <div class="row">
        <div class="col-6 d-flex align-items-center">
          <div class="header__logo header__image-wrap">
            <img src="images/Logo.png" alt="Logotype">
          </div>
          <div class="header__desktop-contact-box">
            <a href="mailto: kabelyodesplast@gmail.com" class="header__desktop-contact-text">
              <img src="images/ContactMailGray.svg" alt="Mail">
              kabelyodesplast@gmail.com
            </a>
            <p class="header__desktop-contact-text">
              <img src="images/ContactGeoGray.svg" alt="Geo">
              Малая Арнаутская, 35
            </p>
          </div>
        </div>
        <div class="col-6 d-flex align-items-end justify-content-end">
          <div class="header__desktop-call-box">
            <a href="tel: +38 (066) 066-06-06" class="header__desktop-call-text">
              <img src="images/ContactCall.svg" alt="Call">
              +38 (066) 066-06-06
            </a>
            <a href="tel: +38 (066) 066-06-06" class="header__desktop-call-text">
              <img src="images/ContactCall.svg" alt="Call">
              +38 (066) 066-06-06
            </a>
          </div>
          <div class="header__lang-box">
            <a href="#" class="header__lang-text active">рус</a>
            <a href="#" class="header__lang-text">укр</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  DESKTOP MENU-->
  <div class="right-nav-menu collapsed d-none d-xl-flex">
    <div class="right-nav-menu__top-content">
      <div class="right-nav-menu__menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="right-nav-menu__menu-links">
        <div class="right-nav-menu__menu-item">
          <a href="/" class="right-nav-menu__menu-link active">
            <img src="images/HomeIcon.svg" alt="Home">
            Главная
          </a>
        </div>
        <div class="right-nav-menu__menu-item">
          <a href="category.html" class="right-nav-menu__menu-link">
            <img src="images/ProductsIcon.svg" alt="Products">
            Товары
          </a>
        </div>
        <div class="right-nav-menu__menu-item">
          <a href="delivery.html" class="right-nav-menu__menu-link">
            <img src="images/DeliveryIcon.svg" alt="Delivery">
            Доставка и оплата
          </a>
        </div>
        <div class="right-nav-menu__menu-item">
          <a href="certificates.html" class="right-nav-menu__menu-link">
            <img src="images/CertificateIcon.svg" alt="Certificate">
            Сертификаты
          </a>
        </div>
        <div class="right-nav-menu__menu-item">
          <a href="about.html" class="right-nav-menu__menu-link">
            <img src="images/AboutIcon.svg" alt="About">
            О нас
          </a>
        </div>
        <div class="right-nav-menu__menu-item">
          <a href="contacts.html" class="right-nav-menu__menu-link">
            <img src="images/ContactIcon.svg" alt="Contact">
            Контакты
          </a>
        </div>
      </div>
    </div>

    <div class="right-nav-menu__bottom-content">
      <div class="right-nav-menu__socials">
        <a href="#" target="_blank">
          <img src="images/FacebookDesktop.svg" alt="Facebook">
        </a>
        <a href="#" target="_blank">
          <img src="images/TelegramDesktop.svg" alt="Telegram">
        </a>
      </div>
      <div class="right-nav-menu__contact-btn">
        <button type="button" class="custom-btn" data-toggle="modal" data-target="#modalOrder">
          <span>Связаться</span>
          <img src="images/FeedbackIcon.svg" alt="Feedback">
        </button>
      </div>
      <div class="right-nav-menu__contacts">
        <a href="mailto: kabelyodesplast@gmail.com" class="right-nav-menu__contacts-link">
          <img src="images/MailGrayLight.svg" alt="Mail">
          <span>kabelyodesplast@gmail.com</span>
        </a>
        <p class="right-nav-menu__contacts-link">
          <img src="images/GeoGrayLight.svg" alt="Geo">
          <span>Малая Арнаутская, 35</span>
        </p>
      </div>
    </div>
  </div>
</header>
