<% var data = { title: "Kabelodesplast" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="about-page">
  <div class="breadcrumbs">
    <a href="/" class="breadcrumbs__item">Главная</a>
    <span>-</span>
    <a href="about.html" class="breadcrumbs__item">О нас</a>
  </div>

  <section class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="about-section__image">
            <img src="images/About.png" alt="About">
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-5 offset-xl-1 d-lg-flex align-items-lg-center">
          <div class="about-section__info-box">
            <h1 class="about-section__title">О нас</h1>
            <p class="about-section__desc">
              Равным образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития. Товарищи! рамки и
              место обучения кадров в значительной степени обуславливает создание существенных финансовых и административных условий.Равным образом реализация намеченных
              плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="advantages-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 col-xl-3">
          <div class="advantages-section__box">
            <div class="advantages-section__icon">
              <img src="images/AdvantageIcon.svg" alt="Advatange">
            </div>
            <p class="advantages-section__name">Преимущество</p>
            <p class="advantages-section__desc">
              Равным образом реализация намеченных плановых заданий позволяет выполнять важные
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 col-xl-3">
          <div class="advantages-section__box">
            <div class="advantages-section__icon">
              <img src="images/AdvantageIcon.svg" alt="Advatange">
            </div>
            <p class="advantages-section__name">Преимущество</p>
            <p class="advantages-section__desc">
              Равным образом реализация намеченных плановых заданий позволяет выполнять важные
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 col-xl-3">
          <div class="advantages-section__box">
            <div class="advantages-section__icon">
              <img src="images/AdvantageIcon.svg" alt="Advatange">
            </div>
            <p class="advantages-section__name">Преимущество</p>
            <p class="advantages-section__desc">
              Равным образом реализация намеченных плановых заданий позволяет выполнять важные
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 col-xl-3">
          <div class="advantages-section__box">
            <div class="advantages-section__icon">
              <img src="images/AdvantageIcon.svg" alt="Advatange">
            </div>
            <p class="advantages-section__name">Преимущество</p>
            <p class="advantages-section__desc">
              Равным образом реализация намеченных плановых заданий позволяет выполнять важные
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about-slider-section">
    <div class="about-slider slider">
      <div class="slide">
        <img src="images/AboutSlide.png" alt="About">
      </div>
      <div class="slide">
        <img src="images/AboutSlide.png" alt="About">
      </div>
      <div class="slide">
        <img src="images/AboutSlide.png" alt="About">
      </div>
    </div>
  </section>

  <section class="section-help pb-0">
    <div class="row m-0 flex-md-row-reverse">
      <div class="col-12 col-md-6 p-0">
        <div class="section-help__image section-help__image-wrap">
          <img src="images/HelpPhone.png" alt="Help phone">
        </div>
      </div>
      <div class="col-12 col-md-6 p-0 section-help__col">
        <div class="section-help__box">
          <h2 class="section-help__title">Нужна помощь?</h2>
          <p class="section-help__desc">Напишите нам и мы поможем с любым Вашим вопросом!</p>
          <button type="button" class="section-help__help-btn" data-toggle="modal" data-target="#modalOrder">
            <span>Связаться</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>
