<% var data = { title: "Kabelodesplast" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="category-page">
  <div class="breadcrumbs">
    <a href="/" class="breadcrumbs__item">Главная</a>
    <span>-</span>
    <a href="category.html" class="breadcrumbs__item">Товары</a>
  </div>

  <section class="section-products">
    <div class="container p-0">
      <h2 class="section-products__title">Товары</h2>
      <div class="row m-0">
        <div class="col-12 col-md-6 p-0">
          <a href="sub-category.html">
            <div class="section-products__box">
              <div class="section-products__image section-products__image-wrap">
                <img src="images/ProductImage.png" alt="Goods">
              </div>
              <h3 class="section-products__name">Кабельно-проводниковая продукция</h3>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-6 p-0">
          <a href="sub-category.html">
            <div class="section-products__box">
              <div class="section-products__image section-products__image-wrap">
                <img src="images/ProductImage.png" alt="Goods">
              </div>
              <h3 class="section-products__name">Электромонтажные коробки и другое</h3>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-8 p-0">
          <a href="sub-category.html">
            <div class="section-products__box">
              <div class="section-products__image section-products__image-wrap">
                <img src="images/ProductImage.png" alt="Goods">
              </div>
              <h3 class="section-products__name">Гофротруба</h3>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-4 p-0">
          <a href="sub-category.html">
            <div class="section-products__box">
              <div class="section-products__image section-products__image-wrap">
                <img src="images/ProductImage.png" alt="Goods">
              </div>
              <h3 class="section-products__name">Разное</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>