<% var data = { title: "Kabelodesplast" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="certificates-page">
  <div class="breadcrumbs">
    <a href="/" class="breadcrumbs__item">Главная</a>
    <span>-</span>
    <a href="certificates.html" class="breadcrumbs__item">Сертификаты</a>
  </div>

  <section class="certificates-section">
    <div class="container">
      <div class="row">
        <div class="col-12 top-info-col">
          <h1 class="certificates-section__title">Сертификаты</h1>

          <div class="certificates-section__year-filter">
            <div class="certificates-section__year-select-box">
              <form action="#">
                <select name="year" id="year-select" class="certificates-section__year-select">
                  <option value="all" selected>Все года</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                </select>
              </form>
            </div>
            <button class="certificates-section__clear-btn">Сбросить фильтры</button>
          </div>
        </div>

        <div class="col-12">
          <div class="row certificate-row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 certificate-col">
              <div class="certificates-section__certificate-image">
                <img src="images/Certificate.png" alt="Certificate">
              </div>
              <h5 class="certificates-section__certificate-desc">Пояснение за что сертификат</h5>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 certificate-col">
              <div class="certificates-section__certificate-image">
                <img src="images/Certificate.png" alt="Certificate">
              </div>
              <h5 class="certificates-section__certificate-desc">Пояснение за что сертификат</h5>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 certificate-col">
              <div class="certificates-section__certificate-image">
                <img src="images/Certificate.png" alt="Certificate">
              </div>
              <h5 class="certificates-section__certificate-desc">Пояснение за что сертификат</h5>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 certificate-col">
              <div class="certificates-section__certificate-image">
                <img src="images/Certificate.png" alt="Certificate">
              </div>
              <h5 class="certificates-section__certificate-desc">Пояснение за что сертификат</h5>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 certificate-col">
              <div class="certificates-section__certificate-image">
                <img src="images/Certificate.png" alt="Certificate">
              </div>
              <h5 class="certificates-section__certificate-desc">Пояснение за что сертификат</h5>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 certificate-col">
              <div class="certificates-section__certificate-image">
                <img src="images/Certificate.png" alt="Certificate">
              </div>
              <h5 class="certificates-section__certificate-desc">Пояснение за что сертификат</h5>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 certificate-col">
              <div class="certificates-section__certificate-image">
                <img src="images/Certificate.png" alt="Certificate">
              </div>
              <h5 class="certificates-section__certificate-desc">Пояснение за что сертификат</h5>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 certificate-col">
              <div class="certificates-section__certificate-image">
                <img src="images/Certificate.png" alt="Certificate">
              </div>
              <h5 class="certificates-section__certificate-desc">Пояснение за что сертификат</h5>
            </div>
          </div>
        </div>

        <div class="col-12 certificates-pagination-col">
          <div class="pagination">
            <a href="#" class="pagination__arrow pagination__arrow-prev">
              <img src="images/PaginationPrev.svg" alt="Prev">
            </a>
            <div class="pagination__pages-box">
              <a href="#" class="pagination__page"><span>1</span></a>
              <a href="#" class="pagination__page pagination__page-active"><span>2</span></a>
              <a href="#" class="pagination__page"><span>3</span></a>
            </div>
            <a href="#" class="pagination__arrow pagination__arrow-next">
              <img src="images/PaginationNext.svg" alt="Next">
            </a>
          </div>
          <div class="item-count">
            <form action="#">
              <label for="product-select" class="item-count__label">
                Отображать на странице
              </label>
              <div class="item-count__select-box">
                <select name="product-count" id="product-select" class="item-count__select">
                  <option value="10">10</option>
                  <option value="12" selected>12</option>
                  <option value="14">14</option>
                  <option value="16">16</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>