<% var data = { title: "Kabelodesplast" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="contacts-page">
  <div class="breadcrumbs">
    <a href="/" class="breadcrumbs__item">Главная</a>
    <span>-</span>
    <a href="contacts.html" class="breadcrumbs__item">Контакты</a>
  </div>

  <section class="contacts-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 d-lg-flex align-items-lg-center">
          <div class="contacts-section__info">
            <h1 class="contacts-section__title">Как нас найти?</h1>

            <div class="contacts-section__contacts-links">
              <a href="mailto:abelyodesplast@gmail.com" class="contacts-section__link-with-icon">
                <img src="images/ContactMailGray.svg" alt="Contact">
                <span>kabelyodesplast@gmail.com</span>
              </a>
              <p class="contacts-section__link-with-icon">
                <img src="images/ContactGeoGray.svg" alt="Geo">
                <span>Малая Арнаутская, 35</span>
              </p>
            </div>

            <div class="contacts-section__call-links">
              <a href="tel:+38 (066) 066-06-06" class="contacts-section__link-with-icon">
                <img src="images/ContactCallGray.svg" alt="Call">
                <span>+38 (066) 066-06-06</span>
              </a>
              <a href="tel:+38 (066) 066-06-06" class="contacts-section__link-with-icon">
                <img src="images/ContactCallGray.svg" alt="Call">
                <span>+38 (066) 066-06-06</span>
              </a>
            </div>

            <div class="contacts-section__socials">
              <a href="#" target="_blank" class="contacts-section__social-link">
                <img src="images/MenuFB.svg" alt="Facebook">
              </a>
              <a href="#" target="_blank" class="contacts-section__social-link">
                <img src="images/MenuTG.svg" alt="Telegram">
              </a>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  function initMap() {
    const center = { lat: 46.4703077, lng: 30.7473974 }
    const mapWrap = document.getElementById('map')

    // const markerIcon = {
    //   url: 'https://image.flaticon.com/icons/svg/446/446075.svg',
    //   scaledSize: new google.maps.Size(30, 40),
    //   origin: new google.maps.Point(0, 0),
    //   anchor: new google.maps.Point(42, 25),
    //   labelOrigin: new google.maps.Point(15, 50)
    // }

    const map = new google.maps.Map(mapWrap, {
      center,
      zoom: 18,
      styles: [
        {
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f5f5f5"
            }
          ]
        },
        {
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#616161"
            }
          ]
        },
        {
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "color": "#f5f5f5"
            }
          ]
        },
        {
          "featureType": "administrative.land_parcel",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#bdbdbd"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#eeeeee"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#757575"
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#e5e5e5"
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        },
        {
          "featureType": "road",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#ffffff"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#757575"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#dadada"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#616161"
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        },
        {
          "featureType": "transit.line",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#e5e5e5"
            }
          ]
        },
        {
          "featureType": "transit.station",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#eeeeee"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#c9c9c9"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        }
      ]
    })

    const marker = new google.maps.Marker({
      position: center,
      map: map,
      // icon: markerIcon,
      animation: google.maps.Animation.DROP
    })

    marker.setMap(map)
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsLvF01oUWMLnByWmH2SBeYe8ECIpYKzs&callback=initMap" async defer></script>
<%= _.template(require('../includes/footer.html').default)() %>