<% var data = { title: "Kabelodesplast" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="delivery-page">
  <div class="breadcrumbs">
    <a href="/" class="breadcrumbs__item">Главная</a>
    <span>-</span>
    <a href="delivery.html" class="breadcrumbs__item">Оплата и доставка</a>
  </div>

  <section class="delivery-section">
    <div class="container">
      <h1 class="delivery-section__title">Оплата и доставка</h1>
      <div class="delivery-section__description">
        <p>
          Равным образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития. Товарищи! рамки и
          место обучения кадров в значительной степени обуславливает создание существенных финансовых и административных условий.Равным образом реализация намеченных
          плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития. Товарищи! рамки и место обучения кадров в значительной
          степени обуславливает создание существенных финансовых и административных условий. Равным образом реализация намеченных плановых заданий позволяет выполнять
          важные задания по разработке дальнейших направлений развития. Товарищи! рамки и место обучения кадров в значительной степени обуславливает создание
          существенных финансовых и административных условий. Равным образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке
          дальнейших направлений развития. Товарищи! рамки и место обучения кадров в значительной степени обуславливает создание существенных финансовых и
          административных условий.Равным образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений
          развития. Товарищи! рамки и место обучения кадров в значительной степени обуславливает создание существенных финансовых и административных условий. Равным
          образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития. Товарищи! рамки и место
          обучения кадров в значительной степени обуславливает создание существенных финансовых и административных условий.
        </p>
      </div>
    </div>
  </section>

  <section class="section-help pb-0">
    <div class="row m-0 flex-md-row-reverse">
      <div class="col-12 col-md-6 p-0">
        <div class="section-help__image section-help__image-wrap">
          <img src="images/HelpPhone.png" alt="Help phone">
        </div>
      </div>
      <div class="col-12 col-md-6 p-0 section-help__col">
        <div class="section-help__box">
          <h2 class="section-help__title">Нужна помощь?</h2>
          <p class="section-help__desc">Напишите нам и мы поможем с любым Вашим вопросом!</p>
          <button type="button" class="section-help__help-btn" data-toggle="modal" data-target="#modalOrder">
            <span>Связаться</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>