<% var data = { title: "Kabelodesplast" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="main-page">
  <section class="main-slider-section">
    <div class="main-slider slider">
      <div class="main-slider__slide slide">
        <div class="main-slider__image-wrap main-slider__slide-image">
          <img src="images/MainSlide.png" alt="Main slide">
        </div>
        <div class="main-slider__info-box">
          <h3 class="main-slider__title">Высокие мощности производства 1</h3>
          <p class="main-slider__desc">
            Мы справимся с производством больших заказов благодаря новейшим технологиям
          </p>
        </div>
      </div>
      <div class="main-slider__slide slide">
        <div class="main-slider__image-wrap main-slider__slide-image">
          <img src="images/MainSlide.png" alt="Main slide">
        </div>
        <div class="main-slider__info-box">
          <h3 class="main-slider__title">Высокие мощности производства 2</h3>
          <p class="main-slider__desc">
            Мы справимся с производством больших заказов благодаря новейшим технологиям
          </p>
        </div>
      </div>
      <div class="main-slider__slide slide">
        <div class="main-slider__image-wrap main-slider__slide-image">
          <img src="images/MainSlide.png" alt="Main slide">
        </div>
        <div class="main-slider__info-box">
          <h3 class="main-slider__title">Высокие мощности производства 3</h3>
          <p class="main-slider__desc">
            Мы справимся с производством больших заказов благодаря новейшим технологиям
          </p>
        </div>
      </div>
    </div>
    <div class="slider-navigation">
      <div class="slider-navigation__arrow slider-navigation__arrow-prev">
        <img src="images/PrevArrow.svg" alt="Prev">
      </div>
      <div class="slider-navigation__arrow slider-navigation__arrow-next">
        <img src="images/NextArrow.svg" alt="Next">
      </div>
    </div>
  </section>

  <section class="section-products">
    <div class="container p-0">
      <h2 class="section-products__title">Товары</h2>
      <div class="row m-0">
        <div class="col-12 col-md-6 p-0">
          <a href="sub-category.html">
            <div class="section-products__box">
              <div class="section-products__image section-products__image-wrap">
                <img src="images/ProductImage.png" alt="Goods">
              </div>
              <h3 class="section-products__name">Кабельно-проводниковая продукция</h3>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-6 p-0">
          <a href="sub-category.html">
            <div class="section-products__box">
              <div class="section-products__image section-products__image-wrap">
                <img src="images/ProductImage.png" alt="Goods">
              </div>
              <h3 class="section-products__name">Электромонтажные коробки и другое</h3>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-8 p-0">
          <a href="sub-category.html">
            <div class="section-products__box">
              <div class="section-products__image section-products__image-wrap">
                <img src="images/ProductImage.png" alt="Goods">
              </div>
              <h3 class="section-products__name">Гофротруба</h3>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-4 p-0">
          <a href="sub-category.html">
            <div class="section-products__box">
              <div class="section-products__image section-products__image-wrap">
                <img src="images/ProductImage.png" alt="Goods">
              </div>
              <h3 class="section-products__name">Разное</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-help">
    <div class="row m-0 flex-md-row-reverse">
      <div class="col-12 col-md-6 p-0">
        <div class="section-help__image section-help__image-wrap">
          <img src="images/HelpPhone.png" alt="Help phone">
        </div>
      </div>
      <div class="col-12 col-md-6 p-0 section-help__col">
        <div class="section-help__box">
          <h2 class="section-help__title">Нужна помощь?</h2>
          <p class="section-help__desc">Напишите нам и мы поможем с любым Вашим вопросом!</p>
          <button type="button" class="section-help__help-btn" data-toggle="modal" data-target="#modalOrder">
            <span>Связаться</span>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="section-about">
    <div class="row m-0">
      <div class="col-12 col-md-6 p-md-0">
        <div class="section-about__image section-about__image-wrap">
          <img src="images/MainAbout.png" alt="About">
        </div>
      </div>
      <div class="col-12 col-md-6 p-0 d-lg-flex align-items-lg-end">
        <div class="section-about__info-box">
          <h2 class="section-about__title">О нас</h2>
          <p class="section-about__desc">
            Равным образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития. Товарищи! рамки и
            место обучения кадров в значительной степени обуславливает создание существенных финансовых и административных условий.
          </p>
          <div class="section-about__link-wrap">
            <a href="about.html" class="section-about__link">
              <span>Перейти</span>
              <img src="images/LinkArrow.svg" alt="Go to about">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>
