<% var data = { title: "Kabelodesplast" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="products-page">
  <div class="breadcrumbs">
    <a href="/" class="breadcrumbs__item">Главная</a>
    <span>-</span>
    <a href="category.html" class="breadcrumbs__item">Товары</a>
    <span>-</span>
    <a href="sub-category.html" class="breadcrumbs__item">Кабельно-Проводниковая продукция</a>
    <span>-</span>
    <a href="products.html" class="breadcrumbs__item">Провод ПВС</a>
  </div>

  <section class="products-section">
    <div class="container">
      <div class="row product-info d-lg-flex flex-lg-row-reverse">
        <div class="col-12 col-lg-5">
          <div class="product-info__image product-info__image-wrap">
            <img src="images/ProductImage.png" alt="Sub product">
          </div>
        </div>
        <div class="col-12 col-lg-7">
          <div class="product-info__box">
            <a href="sub-category.html" class="product-info__back-btn">
              <img src="images/ArrowBackMobile.svg" alt="Back">
              <span class="d-lg-none">Назад</span>
            </a>
            <h1 class="product-info__title">Провод ПВС</h1>
            <p class="product-info__desc">
              Равным образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития. Товарищи! рамки и
              место обучения кадров в значительной степени обуславливает создание существенных финансовых и административных условий.Равным образом реализация намеченных
              плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-xl-9">
          <div class="row products-list">
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="products-list__box">
                <div class="products-list__image products-list__image-wrap">
                  <img src="images/ProductImage.png" alt="Product">
                </div>
                <div class="products-list__info-box">
                  <div class="products-list__availability d-flex d-xl-none">
                    <img src="images/ArrowAvailable.svg" alt="Available">
                    <span>Есть в наличии</span>
                  </div>
                  <h2 class="products-list__name">Провод ПВС 2х0.5</h2>
                  <p class="products-list__desc">
                    Равным образом реализация намеченных плановых заданий позволяет выполнять важные
                  </p>
                  <h5 class="products-list__price d-none d-xl-flex">3,18 <span>грн./м</span></h5>
                  <div class="products-list__price-info">
                    <h5 class="products-list__price d-flex d-xl-none">3,18 <span>грн./м</span></h5>
                    <div class="products-list__availability d-none d-xl-flex">
                      <img src="images/ArrowAvailable.svg" alt="Available">
                      <span>Есть в наличии</span>
                    </div>
                    <p class="products-list__additional-info">Опт и розница</p>
                  </div>
                  <div class="products-list__btn-row">
                    <button type="button" class="products-list__btn products-list__btn_order" data-toggle="modal" data-target="#modalOrder">
                      <span>Заказать</span>
                    </button>
                    <a href="selected-product.html" type="button" class="products-list__btn products-list__btn_about">
                      <span>Подробнее</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="products-list__box">
                <div class="products-list__image products-list__image-wrap">
                  <img src="images/ProductImage.png" alt="Product">
                </div>
                <div class="products-list__info-box">
                  <div class="products-list__availability d-flex d-xl-none">
                    <img src="images/ArrowAvailable.svg" alt="Available">
                    <span>Есть в наличии</span>
                  </div>
                  <h2 class="products-list__name">Провод ПВС 2х0.5</h2>
                  <p class="products-list__desc">
                    Равным образом реализация намеченных плановых заданий позволяет выполнять важные
                  </p>
                  <h5 class="products-list__price d-none d-xl-flex">3,18 <span>грн./м</span></h5>
                  <div class="products-list__price-info">
                    <h5 class="products-list__price d-flex d-xl-none">3,18 <span>грн./м</span></h5>
                    <div class="products-list__availability d-none d-xl-flex">
                      <img src="images/ArrowAvailable.svg" alt="Available">
                      <span>Есть в наличии</span>
                    </div>
                    <p class="products-list__additional-info">Опт и розница</p>
                  </div>
                  <div class="products-list__btn-row">
                    <button type="button" class="products-list__btn products-list__btn_order" data-toggle="modal" data-target="#modalOrder">
                      <span>Заказать</span>
                    </button>
                    <a href="selected-product.html" type="button" class="products-list__btn products-list__btn_about">
                      <span>Подробнее</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="products-list__box">
                <div class="products-list__image products-list__image-wrap">
                  <img src="images/ProductImage.png" alt="Product">
                </div>
                <div class="products-list__info-box">
                  <div class="products-list__availability d-flex d-xl-none">
                    <img src="images/ArrowAvailable.svg" alt="Available">
                    <span>Есть в наличии</span>
                  </div>
                  <h2 class="products-list__name">Провод ПВС 2х0.5</h2>
                  <p class="products-list__desc">
                    Равным образом реализация намеченных плановых заданий позволяет выполнять важные
                  </p>
                  <h5 class="products-list__price d-none d-xl-flex">3,18 <span>грн./м</span></h5>
                  <div class="products-list__price-info">
                    <h5 class="products-list__price d-flex d-xl-none">3,18 <span>грн./м</span></h5>
                    <div class="products-list__availability d-none d-xl-flex">
                      <img src="images/ArrowAvailable.svg" alt="Available">
                      <span>Есть в наличии</span>
                    </div>
                    <p class="products-list__additional-info">Опт и розница</p>
                  </div>
                  <div class="products-list__btn-row">
                    <button type="button" class="products-list__btn products-list__btn_order" data-toggle="modal" data-target="#modalOrder">
                      <span>Заказать</span>
                    </button>
                    <a href="selected-product.html" type="button" class="products-list__btn products-list__btn_about">
                      <span>Подробнее</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="products-list__box">
                <div class="products-list__image products-list__image-wrap">
                  <img src="images/ProductImage.png" alt="Product">
                </div>
                <div class="products-list__info-box">
                  <div class="products-list__availability d-flex d-xl-none">
                    <img src="images/ArrowAvailable.svg" alt="Available">
                    <span>Есть в наличии</span>
                  </div>
                  <h2 class="products-list__name">Провод ПВС 2х0.5</h2>
                  <p class="products-list__desc">
                    Равным образом реализация намеченных плановых заданий позволяет выполнять важные
                  </p>
                  <h5 class="products-list__price d-none d-xl-flex">3,18 <span>грн./м</span></h5>
                  <div class="products-list__price-info">
                    <h5 class="products-list__price d-flex d-xl-none">3,18 <span>грн./м</span></h5>
                    <div class="products-list__availability d-none d-xl-flex">
                      <img src="images/ArrowAvailable.svg" alt="Available">
                      <span>Есть в наличии</span>
                    </div>
                    <p class="products-list__additional-info">Опт и розница</p>
                  </div>
                  <div class="products-list__btn-row">
                    <button type="button" class="products-list__btn products-list__btn_order" data-toggle="modal" data-target="#modalOrder">
                      <span>Заказать</span>
                    </button>
                    <a href="selected-product.html" type="button" class="products-list__btn products-list__btn_about">
                      <span>Подробнее</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="products-list__box">
                <div class="products-list__image products-list__image-wrap">
                  <img src="images/ProductImage.png" alt="Product">
                </div>
                <div class="products-list__info-box">
                  <div class="products-list__availability d-flex d-xl-none">
                    <img src="images/ArrowAvailable.svg" alt="Available">
                    <span>Есть в наличии</span>
                  </div>
                  <h2 class="products-list__name">Провод ПВС 2х0.5</h2>
                  <p class="products-list__desc">
                    Равным образом реализация намеченных плановых заданий позволяет выполнять важные
                  </p>
                  <h5 class="products-list__price d-none d-xl-flex">3,18 <span>грн./м</span></h5>
                  <div class="products-list__price-info">
                    <h5 class="products-list__price d-flex d-xl-none">3,18 <span>грн./м</span></h5>
                    <div class="products-list__availability d-none d-xl-flex">
                      <img src="images/ArrowAvailable.svg" alt="Available">
                      <span>Есть в наличии</span>
                    </div>
                    <p class="products-list__additional-info">Опт и розница</p>
                  </div>
                  <div class="products-list__btn-row">
                    <button type="button" class="products-list__btn products-list__btn_order" data-toggle="modal" data-target="#modalOrder">
                      <span>Заказать</span>
                    </button>
                    <a href="selected-product.html" type="button" class="products-list__btn products-list__btn_about">
                      <span>Подробнее</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="products-list__box">
                <div class="products-list__image products-list__image-wrap">
                  <img src="images/ProductImage.png" alt="Product">
                </div>
                <div class="products-list__info-box">
                  <div class="products-list__availability d-flex d-xl-none">
                    <img src="images/ArrowAvailable.svg" alt="Available">
                    <span>Есть в наличии</span>
                  </div>
                  <h2 class="products-list__name">Провод ПВС 2х0.5</h2>
                  <p class="products-list__desc">
                    Равным образом реализация намеченных плановых заданий позволяет выполнять важные
                  </p>
                  <h5 class="products-list__price d-none d-xl-flex">3,18 <span>грн./м</span></h5>
                  <div class="products-list__price-info">
                    <h5 class="products-list__price d-flex d-xl-none">3,18 <span>грн./м</span></h5>
                    <div class="products-list__availability d-none d-xl-flex">
                      <img src="images/ArrowAvailable.svg" alt="Available">
                      <span>Есть в наличии</span>
                    </div>
                    <p class="products-list__additional-info">Опт и розница</p>
                  </div>
                  <div class="products-list__btn-row">
                    <button type="button" class="products-list__btn products-list__btn_order" data-toggle="modal" data-target="#modalOrder">
                      <span>Заказать</span>
                    </button>
                    <a href="selected-product.html" type="button" class="products-list__btn products-list__btn_about">
                      <span>Подробнее</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="products-list__box">
                <div class="products-list__image products-list__image-wrap">
                  <img src="images/ProductImage.png" alt="Product">
                </div>
                <div class="products-list__info-box">
                  <div class="products-list__availability d-flex d-xl-none">
                    <img src="images/ArrowAvailable.svg" alt="Available">
                    <span>Есть в наличии</span>
                  </div>
                  <h2 class="products-list__name">Провод ПВС 2х0.5</h2>
                  <p class="products-list__desc">
                    Равным образом реализация намеченных плановых заданий позволяет выполнять важные
                  </p>
                  <h5 class="products-list__price d-none d-xl-flex">3,18 <span>грн./м</span></h5>
                  <div class="products-list__price-info">
                    <h5 class="products-list__price d-flex d-xl-none">3,18 <span>грн./м</span></h5>
                    <div class="products-list__availability d-none d-xl-flex">
                      <img src="images/ArrowAvailable.svg" alt="Available">
                      <span>Есть в наличии</span>
                    </div>
                    <p class="products-list__additional-info">Опт и розница</p>
                  </div>
                  <div class="products-list__btn-row">
                    <button type="button" class="products-list__btn products-list__btn_order" data-toggle="modal" data-target="#modalOrder">
                      <span>Заказать</span>
                    </button>
                    <a href="selected-product.html" type="button" class="products-list__btn products-list__btn_about">
                      <span>Подробнее</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Desktop filters -->
        <div class="col-12 col-xl-3 d-xl-flex flex-xl-column mb-xl-5">
          <form action="#" id="filter-form-desktop" class="filter-form d-none d-xl-flex flex-xl-column">
            <div class="filter-box search-filter">
              <div class="filter-box__input-group">
                <input type="text" name="search" id="search-input-desktop" placeholder="Поиск">
                <div class="btn-search">
                  <img src="images/SearchIcon.svg" alt="Search">
                </div>
              </div>
            </div>

            <div class="filter-box type-filter">
              <h5 class="filter-box__title">Тип</h5>
              <input type="hidden" name="type" id="type-input-desktop">
              <div class="filter-box__input-box filter-box__input-box_type">
                <div class="filter-box__input-group">
                  <input type="checkbox" id="type-1" class="filter-box__checkbox" data-type="copper">
                  <label for="type-1" class="filter-box__label">Медь</label>
                </div>
                <div class="filter-box__input-group">
                  <input type="checkbox" id="type-2" class="filter-box__checkbox" data-type="aluminum">
                  <label for="type-2" class="filter-box__label">Алюминий</label>
                </div>
              </div>
            </div>

            <div class="filter-box count-filter">
              <h5 class="filter-box__title">Количество жил</h5>
              <div class="filter-box__input-group">
                <input type="hidden" name="count" id="count-input-desktop">
                <div class="count-row">
                  <div class="count-item" data-count="1">
                    <span>1</span>
                  </div>
                  <div class="count-item" data-count="2">
                    <span>2</span>
                  </div>
                  <div class="count-item" data-count="3">
                    <span>3</span>
                  </div>
                  <div class="count-item" data-count="4">
                    <span>4</span>
                  </div>
                  <div class="count-item" data-count="5">
                    <span>5</span>
                  </div>
                  <div class="count-item" data-count="6">
                    <span>6</span>
                  </div>
                  <div class="count-item" data-count="7">
                    <span>7</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="filter-box cut-filter">
              <h5 class="filter-box__title">Сечение жилы</h5>
              <input type="hidden" name="cut" id="cut-input-desktop">
              <div class="filter-box__input-box filter-box__input-box_cut">
                <div class="filter-box__input-group">
                  <input type="checkbox" id="cut-1" class="filter-box__checkbox" data-cut="0.5">
                  <label for="cut-1" class="filter-box__label">0.5</label>
                </div>
                <div class="filter-box__input-group">
                  <input type="checkbox" id="cut-2" class="filter-box__checkbox" data-cut="0.75">
                  <label for="cut-2" class="filter-box__label">0.75</label>
                </div>
                <div class="filter-box__input-group">
                  <input type="checkbox" id="cut-3" class="filter-box__checkbox" data-cut="1">
                  <label for="cut-3" class="filter-box__label">1</label>
                </div>
                <div class="filter-box__input-group">
                  <input type="checkbox" id="cut-4" class="filter-box__checkbox" data-cut="2.5">
                  <label for="cut-4" class="filter-box__label">2.5</label>
                </div>
                <div class="filter-box__input-group">
                  <input type="checkbox" id="cut-5" class="filter-box__checkbox" data-cut="4">
                  <label for="cut-5" class="filter-box__label">4</label>
                </div>
                <div class="filter-box__input-group">
                  <input type="checkbox" id="cut-6" class="filter-box__checkbox" data-cut="6">
                  <label for="cut-6" class="filter-box__label">6</label>
                </div>
                <div class="filter-box__input-group">
                  <input type="checkbox" id="cut-7" class="filter-box__checkbox" data-cut="10">
                  <label for="cut-7" class="filter-box__label">10</label>
                </div>
                <div class="filter-box__input-group">
                  <input type="checkbox" id="cut-8" class="filter-box__checkbox" data-cut="16">
                  <label for="cut-8" class="filter-box__label">16</label>
                </div>
                <div class="filter-box__input-group">
                  <input type="checkbox" id="cut-9" class="filter-box__checkbox" data-cut="25">
                  <label for="cut-9" class="filter-box__label">25</label>
                </div>
                <div class="filter-box__input-group">
                  <input type="checkbox" id="cut-10" class="filter-box__checkbox" data-cut="35">
                  <label for="cut-10" class="filter-box__label">35</label>
                </div>
              </div>
            </div>

            <button type="button" class="filter-form__clear-btn">Сбросить фильтры</button>
          </form>

          <div class="filter-bottom-info d-xl-flex flex-xl-column-reverse">
            <div class="pagination">
              <a href="#" class="pagination__arrow pagination__arrow-prev">
                <img src="images/PaginationPrev.svg" alt="Prev">
              </a>
              <div class="pagination__pages-box">
                <a href="#" class="pagination__page"><span>1</span></a>
                <a href="#" class="pagination__page pagination__page-active"><span>2</span></a>
                <a href="#" class="pagination__page"><span>3</span></a>
              </div>
              <a href="#" class="pagination__arrow pagination__arrow-next">
                <img src="images/PaginationNext.svg" alt="Next">
              </a>
            </div>
            <div class="item-count">
              <form action="#">
                <label for="product-select" class="item-count__label">
                  Товаров на странице
                </label>
                <div class="item-count__select-box">
                  <select name="product-count" id="product-select" class="item-count__select">
                    <option value="10">10</option>
                    <option value="12" selected>12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <button type="button" class="filter-btn d-flex d-xl-none" data-toggle="modal" data-target="#modalFilter">
    <span></span>
    <span></span>
    <span></span>
  </button>
</main>

<!-- Mobile filters -->
<div class="modal fade" id="modalFilter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form action="#" id="filter-form" class="filter-form">
          <div class="filter-box search-filter">
            <div class="filter-box__input-group">
              <input type="text" name="search" id="search-input" placeholder="Поиск">
              <div class="btn-search">
                <img src="images/SearchIcon.svg" alt="Search">
              </div>
            </div>
          </div>

          <div class="filter-box type-filter">
            <h5 class="filter-box__title">Тип</h5>
            <input type="hidden" name="type" id="type-input">
            <div class="filter-box__input-box filter-box__input-box_type">
              <div class="filter-box__input-group">
                <input type="checkbox" class="filter-box__checkbox" data-type="copper">
                <label class="filter-box__label">Медь</label>
              </div>
              <div class="filter-box__input-group">
                <input type="checkbox" class="filter-box__checkbox" data-type="aluminum">
                <label class="filter-box__label">Алюминий</label>
              </div>
            </div>
          </div>

          <div class="filter-box count-filter">
            <h5 class="filter-box__title">Количество жил</h5>
            <div class="filter-box__input-group">
              <input type="hidden" name="count" id="count-input">
              <div class="count-row">
                <div class="count-item" data-count="1">
                  <span>1</span>
                </div>
                <div class="count-item" data-count="2">
                  <span>2</span>
                </div>
                <div class="count-item" data-count="3">
                  <span>3</span>
                </div>
                <div class="count-item" data-count="4">
                  <span>4</span>
                </div>
                <div class="count-item" data-count="5">
                  <span>5</span>
                </div>
                <div class="count-item" data-count="6">
                  <span>6</span>
                </div>
                <div class="count-item" data-count="7">
                  <span>7</span>
                </div>
              </div>
            </div>
          </div>

          <div class="filter-box cut-filter">
            <h5 class="filter-box__title">Сечение жилы</h5>
            <input type="hidden" name="cut" id="cut-input">
            <div class="filter-box__input-box filter-box__input-box_cut">
              <div class="filter-box__input-group">
                <input type="checkbox" class="filter-box__checkbox" data-cut="0.5">
                <label class="filter-box__label">0.5</label>
              </div>
              <div class="filter-box__input-group">
                <input type="checkbox" class="filter-box__checkbox" data-cut="0.75">
                <label class="filter-box__label">0.75</label>
              </div>
              <div class="filter-box__input-group">
                <input type="checkbox" class="filter-box__checkbox" data-cut="1">
                <label class="filter-box__label">1</label>
              </div>
              <div class="filter-box__input-group">
                <input type="checkbox" class="filter-box__checkbox" data-cut="2.5">
                <label class="filter-box__label">2.5</label>
              </div>
              <div class="filter-box__input-group">
                <input type="checkbox" class="filter-box__checkbox" data-cut="4">
                <label class="filter-box__label">4</label>
              </div>
              <div class="filter-box__input-group">
                <input type="checkbox" class="filter-box__checkbox" data-cut="6">
                <label class="filter-box__label">6</label>
              </div>
              <div class="filter-box__input-group">
                <input type="checkbox" class="filter-box__checkbox" data-cut="10">
                <label class="filter-box__label">10</label>
              </div>
              <div class="filter-box__input-group">
                <input type="checkbox" class="filter-box__checkbox" data-cut="16">
                <label class="filter-box__label">16</label>
              </div>
              <div class="filter-box__input-group">
                <input type="checkbox" class="filter-box__checkbox" data-cut="25">
                <label class="filter-box__label">25</label>
              </div>
              <div class="filter-box__input-group">
                <input type="checkbox" class="filter-box__checkbox" data-cut="35">
                <label class="filter-box__label">35</label>
              </div>
            </div>
          </div>

          <button type="button" class="filter-form__clear-btn">Сбросить фильтры</button>
          <button type="submit" class="filter-form__btn filter-form__btn_submit">
            <img src="images/ArrowAvailable.svg" alt="Submit">
          </button>
          <button type="button" class="filter-form__btn filter-form__btn_close" data-dismiss="modal">
            <span></span>
            <span></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('../includes/footer.html').default)() %>