<% var data = { title: "Kabelodesplast" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="selected-product-page">
  <div class="breadcrumbs">
    <a href="/" class="breadcrumbs__item">Главная</a>
    <span>-</span>
    <a href="category.html" class="breadcrumbs__item">Товары</a>
    <span>-</span>
    <a href="sub-category.html" class="breadcrumbs__item">Кабельно-Проводниковая продукция</a>
    <span>-</span>
    <a href="products.html" class="breadcrumbs__item">Провод ПВС</a>
    <span>-</span>
    <a href="selected-product.html" class="breadcrumbs__item">ПВС-Кабель</a>
  </div>

  <section class="selected-product-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 d-none d-lg-flex align-items-lg-center name-col">
          <a href="products.html" class="back-btn">
            <img src="images/ArrowBackMobile.svg" alt="Back">
          </a>
          <h2 class="selected-product-info__name_text">ПВС-Кабель</h2>
        </div>

        <div class="col-12 col-lg-6 col-xl-5 slider-col">
          <div class="product-slider slider">
            <div class="slide">
              <img src="images/ProductImage.png" alt="Product">
            </div>
            <div class="slide">
              <img src="images/ProductImage.png" alt="Product">
            </div>
            <div class="slide">
              <img src="images/ProductImage.png" alt="Product">
            </div>
            <div class="slide">
              <img src="images/ProductImage.png" alt="Product">
            </div>
            <div class="slide">
              <img src="images/ProductImage.png" alt="Product">
            </div>
          </div>
          <div class="product-small-slider slider d-none d-lg-block">
            <div class="slide">
              <img src="images/ProductImage.png" alt="Product">
            </div>
            <div class="slide">
              <img src="images/ProductImage.png" alt="Product">
            </div>
            <div class="slide">
              <img src="images/ProductImage.png" alt="Product">
            </div>
            <div class="slide">
              <img src="images/ProductImage.png" alt="Product">
            </div>
            <div class="slide">
              <img src="images/ProductImage.png" alt="Product">
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-5 col-xl-5 offset-lg-1">
          <div class="selected-product-info">
            <div class="selected-product-info__name d-flex d-lg-none">
              <a href="#" class="back-btn">
                <img src="images/ArrowBackMobile.svg" alt="Back">
                <span>Назад</span>
              </a>
              <h1 class="selected-product-info__name_text">ПВС-Кабель</h1>
            </div>
            <div class="selected-product-info__availability d-none d-xl-flex">
              <img src="images/ArrowAvailable.svg" alt="Available">
              <span>Есть в наличии</span>
            </div>
            <div class="selected-product-info__price-info">
              <h2 class="selected-product-info__price">3,18 <span>$</span></h2>
              <div class="selected-product-info__availability d-flex d-xl-none">
                <img src="images/ArrowAvailable.svg" alt="Available">
                <span>Есть в наличии</span>
              </div>
              <div class="selected-product-info__btn-wrap d-none d-xl-flex">
                <button type="button" class="selected-product-info__btn" data-toggle="modal" data-target="#modalOrder">
                  <span>Заказать</span>
                </button>
              </div>
            </div>
            <div class="selected-product-info__btn-wrap d-flex d-xl-none">
              <button type="button" class="selected-product-info__btn" data-toggle="modal" data-target="#modalOrder">
                <span>Заказать</span>
              </button>
            </div>
            <div class="selected-product-info__detailed-info d-flex d-xl-none">
              <div class="selected-product-info__detailed-row">
                <p class="selected-product-info__detail-name">Число жил</p>
                <span class="selected-product-info__detail-line"></span>
                <p class="selected-product-info__detail-value">5</p>
              </div>
              <div class="selected-product-info__detailed-row">
                <p class="selected-product-info__detail-name">Тип</p>
                <span class="selected-product-info__detail-line"></span>
                <p class="selected-product-info__detail-value">Силовой</p>
              </div>
              <div class="selected-product-info__detailed-row">
                <p class="selected-product-info__detail-name">Сечение жилы</p>
                <span class="selected-product-info__detail-line"></span>
                <p class="selected-product-info__detail-value">270</p>
              </div>
            </div>
            <div class="selected-product-info__description">
              <p>
                Равным образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития. Товарищи! рамки и
                место обучения кадров в значительной степени обуславливает создание существенных финансовых и административных условий. <br>
                <br>
                Равным образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития.
                Равным образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития.
              </p>
            </div>
          </div>
        </div>

        <div class="col-4 offset-1 d-none d-xl-block">
          <div class="selected-product-info__detailed-info">
            <div class="selected-product-info__detailed-row">
              <p class="selected-product-info__detail-name">Число жил</p>
              <span class="selected-product-info__detail-line"></span>
              <p class="selected-product-info__detail-value">5</p>
            </div>
            <div class="selected-product-info__detailed-row">
              <p class="selected-product-info__detail-name">Тип</p>
              <span class="selected-product-info__detail-line"></span>
              <p class="selected-product-info__detail-value">Силовой</p>
            </div>
            <div class="selected-product-info__detailed-row">
              <p class="selected-product-info__detail-name">Сечение жилы</p>
              <span class="selected-product-info__detail-line"></span>
              <p class="selected-product-info__detail-value">270</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>