<% var data = { title: "Kabelodesplast" } %>

<%= _.template(require('../includes/head.html').default)(data) %>

<%= _.template(require('../includes/header.html').default)() %>

<main id="sub-category-page">
  <div class="breadcrumbs">
    <a href="/" class="breadcrumbs__item">Главная</a>
    <span>-</span>
    <a href="category.html" class="breadcrumbs__item">Товары</a>
    <span>-</span>
    <a href="sub-category.html" class="breadcrumbs__item">Кабельно-Проводниковая продукция</a>
  </div>

  <section class="section-sub-category">
    <div class="container">
      <div class="row product-info d-lg-flex flex-lg-row-reverse">
        <div class="col-12 col-lg-5">
          <div class="sub-product-info__image sub-product-info__image-wrap">
            <img src="images/ProductImage.png" alt="Sub product">
          </div>
        </div>
        <div class="col-12 col-lg-7">
          <div class="product-info__box">
            <a href="category.html" class="product-info__back-btn">
              <img src="images/ArrowBackMobile.svg" alt="Back">
              <span class="d-lg-none">Назад</span>
            </a>
            <h1 class="product-info__title">Кабельно-Проводниковая продукция</h1>
            <p class="product-info__desc">
              Равным образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития. Товарищи! рамки и
              место обучения кадров в значительной степени обуславливает создание существенных финансовых и административных условий.Равным образом реализация намеченных
              плановых заданий позволяет выполнять важные задания по разработке дальнейших направлений развития.
            </p>
          </div>
        </div>
      </div>

      <div class="row sub-product-list">
        <div class="col-12">
          <h1 class="sub-product-list__title text-center">Подкатегории</h1>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <a href="products.html">
            <div class="sub-product-list__box">
              <div class="sub-product-list__image sub-product-list__image-wrap">
                <img src="images/SubProduct.png" alt="Sub product">
              </div>
              <h2 class="sub-product-list__name">ШВВП</h2>
              <p class="sub-product-list__desc">
                Равным образом реализация намеченных плановых заданий позволяет выполнять важные
              </p>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <a href="products.html">
            <div class="sub-product-list__box">
              <div class="sub-product-list__image sub-product-list__image-wrap">
                <img src="images/SubProduct.png" alt="Sub product">
              </div>
              <h2 class="sub-product-list__name">ПВС</h2>
              <p class="sub-product-list__desc">
                Равным образом реализация намеченных плановых заданий позволяет выполнять важные
              </p>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <a href="products.html">
            <div class="sub-product-list__box">
              <div class="sub-product-list__image sub-product-list__image-wrap">
                <img src="images/SubProduct.png" alt="Sub product">
              </div>
              <h2 class="sub-product-list__name">ВВГ</h2>
              <p class="sub-product-list__desc">
                Равным образом реализация намеченных плановых заданий позволяет выполнять важные
              </p>
            </div>
          </a>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <a href="products.html">
            <div class="sub-product-list__box">
              <div class="sub-product-list__image sub-product-list__image-wrap">
                <img src="images/SubProduct.png" alt="Sub product">
              </div>
              <h2 class="sub-product-list__name">АВВГ</h2>
              <p class="sub-product-list__desc">
                Равным образом реализация намеченных плановых заданий позволяет выполнять важные
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>

<%= _.template(require('../includes/footer.html').default)() %>